/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #540b51;
  width: 100%;
}

.nav {
  width: 100%;
}

.nav-div {
  height: 13vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid grey;
  width: 100%;
}

.flex-item-1 {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
}
.flex-item-2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#button-search {
  background-color: #540b51;
  border: none;
  padding: 8px 16px;
}

#button-menu {
  background-color: #540b51;
  border: none;
  padding: 8px 16px;
}

#slack-logo {
  padding: 8px 16px;
}

.section-1 {
  align-items: center;
  justify-content: center;
  width: 100%;
}

#title-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: white;
  padding: 0 10px 0 10px;
  text-align: center;
}

#text-1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 15px;
}
#yellow {
  color: #ecb12f;
  font-weight: bolder;
}

#button-email button {
  width: 85%;
  background-color: white;
}

#button-google button {
  width: 85%;
  background-color: #4285f4;
  padding: 5%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  display: inline-block;
  position: relative;
 
}

#logo-google {
  background-color: white;
  width: 7%;
  height: auto;
  justify-content: flex-start;
  float: left;
  padding: 10px;
  display: block;
}

#text-google{
    width:60% ; 
    height: 100%;
    color: white;
  
}
#button-email {
  width: 100%;
  grid-auto-flow: column;
  grid-column-gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #540b51;
}

#button-google {
  width: 100%;
  grid-auto-flow: column;
  grid-column-gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-product{
    width: 150vw;
    height: auto;
}

.section-1{
    max-height: 590px;
}

main {
position: absolute;
background-color:#F3EAE2;
width: 100%;
}


#section-2-text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 13px;
    margin-top: 50px;
    font-weight: bolder;
  }