/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #540b51;
  width: 100%;
}

h2 {
  font-size: 24px;
}

.nav {
  width: 100%;
}

.nav-div {
  height: 13vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid grey;
  width: 100%;
}

.section-1 {
  width: 100%;
  height: 680px;
  overflow: hidden;
}
.flex-item-1 {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
}
.flex-item-2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#button-search {
  background-color: #540b51;
  border: none;
  padding: 8px 16px;
}

#button-menu {
  background-color: #540b51;
  border: none;
  padding: 8px 16px;
}

#slack-logo {
  padding: 8px 16px;
}

#title-1 {
  font-weight: 100;
  font-size: 25px;
  color: white;
  padding: 0 10px 0 10px;
  text-align: center;
}

#text-1 {
  color: white;

  text-align: center;
  font-size: 13px;
}
#yellow {
  color: #ecb12f;
  font-weight: bolder;
}

#button-email button {
  width: 85%;
  height: 50px;
  background-color: white;
  text-transform: uppercase;
  color: #540b51;
  border-radius: 3px;
  border: none;
  font-weight: bolder;
}

#button-google button {
  width: 85%;
  background-color: #4285f4;
  padding: 5px;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  margin-top: 10px;
  border: none;
  align-items: center;

  border-radius: 3px;
}

#logo-google {
  background-color: white;
  width: 10%;
  height: auto;
  justify-content: flex-start;
  float: left;
  padding: 2%;
  display: block;
  border-radius: 1px;
}

#text-google {
  height: 100%;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  width: 86%;
}
#button-email {
  width: 100%;
  grid-auto-flow: column;
  grid-column-gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #540b51;
}

#button-google {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

#image-product {
  width: 595px;
  height: auto;
}

main {
  background-color: #f3eae2;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

#section-2-text {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 13px;
  padding: 20px 0px 20px 0px;
  font-weight: 700;
}

.logo-uber {
  height: 25px;
}

.logos-size {
  height: 35px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  text-align: center;
  flex-flow: wrap row;
  justify-content: space-around;
}

.logos img {
  margin-bottom: 40px;
}

.image-mobile {
  max-width: 94%;
  height: auto;
}
.image-mobile-2 {
  max-width: 94%;
  height: auto;
  float: right;
}
.section3-div {
  height: 250px;
}
.section4-div {
  height: 250px;
}
.section5-div {
  height: 250px;
}
.section3-div h2,
.section3-div p,
.section4-div h2,
.section4-div p,
.section5-div h2,
.section5-div p {
  padding-left: 20px;
  padding-right: 20px;
}

.section3-div span,
.section4-div span,
.section5-div span {
  padding-left: 20px;

  font-weight: bold;
}

a {
  text-decoration: none;
}

footer {
  background-color: white;
  color: black;
  padding: 10px;
}

#flex-container {
  display: flex;
  grid-gap: 5px;
  padding: 10px;
  font-size: 10px;
  border-bottom: 0.5px solid grey;
  justify-content: space-between;
}
#flex-container li {
  margin-bottom: 30px;
  list-style-type: none;
  vertical-align: top;
  width: 100%;
  color: #454245;
}

ul {
  padding: 5px;
}
#logos-footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 5px;
  margin: 0;
}

.fab {
  font-size: 20px;
}

.titles-footer {
  font-weight: 700;
}

#image-slack {
  height: 60px;
  width: auto;
  padding: 20px;
}

/*can't uderstand what is adding this hr - border line*/
hr {
  border-style: none;
}

#inline-icon1 {
  display: inline;
  margin-bottom: 20px;
}
#inline-icon2 li {
  margin-bottom: 0px !important;
  align-items: center;
}

#inline-icon1 img,
#inline-icon2 img {
  margin-right: 5px;
}

.footer-icons li {
  text-transform: lowercase;
  margin-bottom: 10px;
}

#inline-icon2 {
  color: #64a3c6;
  align-items: center;
}
.footer-icons li::first-letter {
  text-transform: uppercase;
}

#footer-2ndlist li {
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: bold;
}

.class-footer {
  margin-bottom: 10px;
}

#footer-2ndlist {
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-bottom: 0px;
}
.section-2 {
  padding: 20px;
}

.section-6 {
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  padding: 20px;
}

#section6-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section6-buttons button {
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  background-color: #540b51;
  border-radius: 3px;
  border: 2px solid #540b51;
  font-weight: bolder;
}

#sales-button {
  background-color: white !important;
  color: #540b51 !important;
  border: 1px solid #540b51;
}

.section-6 span {
  font-size: 30px;
  color: #540b51;
  font-weight: bold;
}
#text-section6 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  padding-right: 5px;
  padding-left: 5px;
}
.section-6 p {
  font-size: 11px;
  font-weight: bold;
  margin-top: 0px;

  padding-right: 30%;
  padding-left: 30%;
}

.section-6 li {
  height: 100px;
  margin-bottom: 20px;
}

#third-li {
  margin-bottom: 0px;
}

small {
  font-size: xx-small;
}

a {
  color: #2e71a6;
}

.section-7 {
  text-align: center;
  background-color: #540b51;
  color: white;
  height: 230px;
  padding: 20px;
}

#section7-buttons button {
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  background-color: #540b51;
  border-radius: 3px;
  border: 2px solid white;
  font-weight: bolder;
}
